html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, rgb(226, 95, 43) 0%, rgb(226, 95, 43) 85%,rgb(67, 67, 67));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav-outer {
    background-color: rgb(67, 67, 67);
    height: 60px;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex: 1;
}

#nav-inner {
    margin: auto 30% auto 0;
    width: auto;
}

#nav-inner a {
    display: inline-block;
    text-decoration: none;
    color: rgb(237, 237, 237);
    width: 120px;
    text-align: center;
    font-size: 18px;
    margin: auto 0;
}

#nav-inner a:hover {
    color: rgb(226, 95, 43);
}

#nav-inner .active {
    color: rgb(226, 95, 43);
}

#content {
    width: 40%;
    height: 100%;
    margin: 50px auto 0;
    background-color: rgb(241, 236, 228);
    padding: 10px 15px;
}

#studies-content {
    width: 40%;
    height: 100%;
    margin: 50px auto 0;
    display: flex;
    background-color: rgb(241, 236, 228);
}

#studies {
    margin: 0 auto;
}

#skills {
    margin: 0 auto;
    width: 30%;
}

#contact {
    width: 40%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}

#contact p {
    margin: 0;
}

#image {
    margin: 0 auto;
    width: 40%;
}

#contact-content {
    margin: auto auto;
    width: 30%;
}

#contact-content p, a {
    font-size: 22px;
    display: inline-block;
    margin: 0 0 15px 0;
}

#contact-content a {
    text-decoration: none;
    color: black;
}

#contact-content a:hover {
    color: rgb(226, 95, 43);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

h1 {
    color: rgb(67, 67, 67);
}

.location {
    color: rgb(226, 95, 43);
}

#tools li {
    margin-bottom: 10px;
}