<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
<div id="nav-outer">
    <div id="nav-inner">
        <a href="/" class="active">Magamról</a>
        <a href="/studies">Tanulmányok</a>
        <a href="/contact">Kapcsolat</a>
        <a href="/?lang=EN">EN</a>
    </div>
</div>
<div id="content">
    <div id="about-content">
        <h1>Magamról</h1>
        <p>
            Györe Dávid vagyok 27 éves, és frissen végeztem a Green Fox
            Academy junior software developer intenzív képzésén. Azért
            kezdtem el a programozással foglalkozni mert mindig érdekelt
            az IT terület, és szerettem volna olyan karriert találni a
            kereskedelemben eltöltött évek után ami közelebb áll a
            személyiségemhez.
        </p>
        <p>
            Új dolgok tanulása, elsajátítása, bonyolult problémák
            megoldása, felelősség, döntések meghozatala, és egy jó
            csapat amik leginkább motiválnak. Ezeken felül a rugalmas
            munkavégzés, széleskörű fejlődési lehetőségek és az elérhető
            magas fizetés.
        </p>
    </div>
    <div id="pic1">
        <h1>Picture1</h1>
    </div>
    <div id="studies-content">
        <div id="studies">
            <h1>Studies</h1>
            <ul>
                <li>
                    <h2>Junior Software Developer</h2>
                    <p class="location">Green Fox Academy</p>
                    <p>12/2019 - 04/2020</p>
                </li>
                <li>
                    <h2>Computer-Aided Design and Manufacturing
                    </h2>
                    <p class="location">Jedlik Ányos Gépipari és Informatikus Középiskola</p>
                    <p>2011 - 2013</p>
                </li>
                <li>
                    <h2>Graduation</h2>
                    <p class="location">Pattantyús Ábrahám Géza Ipari Szakközépiskola</p>
                    <p>2007 - 2011</p>
                </li>
            </ul>
        </div>
        <div id="skills">
            <h1>Skills</h1>
            <div id="tools">
                <ul>
                    <li>Java</li>
                    <li>MySQL</li>
                    <li>Spring boot</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JIRA</li>
                </ul>
            </div>
            <div id="languages">
                <h1>Languages</h1>
                <p>Hungarian - Native</p>
                <p>English - Intermediate</p>
            </div>
        </div>
    </div>
    <div id="pic2">
        <h1>Picture2</h1>
    </div>
    <div id="image">
        <img src="gyoredavid.jpg" alt="">
    </div>
    <div id="contact">
        <p><b>Telefon:</b> +36 30 675 8771</p>
        <p><b>E-mail:</b> gyoredavid1993@gmail.com</p>
        <a href="http://www.linkedin.com/in/dávid-györe-54402b144">LinkedIn</a>
        <br>
        <a href="https://github.com/Divad001">GitHub</a>
    </div>
</div>
</body>
</html>