<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Gyore</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="styleSmallScreen.css">
</head>
<body>
<nav>
    <div id="nav-inner">
        <ul id="menu">
            <li class="active">
                <a href="#header">Home</a>
            </li>
            <li>
                <a href="#about-content">About me</a>
            </li>
            <li>
                <a href="#studies-content">Education</a>
            </li>
            <li>
                <a href="#contact-content">Contact</a>
            </li>
        </ul>
        <a href="/">HU</a>
    </div>
</nav>
<div id="langSelector">
    <a href="/">HU</a>
</div>
<div id="header">
    <div id="banner">
        <img src="black-laptop-computer-showing-stock-graph-9.jpg" alt="">
    </div>
    <div id="welcome">
        <p>Welcome!</p>
    </div>
</div>
<div id="content">
    <div id="pic1">
        <img src="gyoredavid.jpg" alt="">
    </div>
    <div id="about-content">
        <h1>About me</h1>
        <p>
            My name is Dávid Györe and I am 27 years old. I recently
            graduated at <a href="https://www.greenfoxacademy.com/"
                                                                 target="_blank">Green Fox
            Academy</a>  as a Junior Software
            Developer. Before I joined GFA I worked in the retail sector for
            4 years. I have always been interested in IT especially coding
            and I was looking for a career that fits me better.

        </p>
        <p>
            Learning new things, solving difficult problems, taking
            responsibilities, having decisions to make and a good team
            motivates me. Also, the flexibility, the wide range of
            possibilities and the positive financial prospects are engaging.
        </p>
    </div>
    <div id="pic2">
        <img src="1564789576071-GettyImages-949118068.jpeg" alt="">
    </div>
    <div id="studies-content">
        <div id="studies">
            <h1>Education</h1>
            <ul>
                <li>
                    <h2>Junior Software Developer</h2>
                    <p class="location"><img src="school.png" alt="">Green Fox Academy</p>
                    <p><img src="calendar.png" alt="">12/2019 - 04/2020</p>
                </li>
                <li>
                    <h2>Computer-Aided Design
                        and Manufacturing</h2>
                    <p class="location"><img src="school.png" alt="">Jedlik Ányos Gépipari és Informatikus Középiskola</p>
                    <p><img src="calendar.png" alt="">2011 - 2013</p>
                </li>
                <li>
                    <h2>Graduation</h2>
                    <p class="location"><img src="school.png" alt="">Pattantyús Ábrahám Géza Ipari Szakközépiskola</p>
                    <p><img src="calendar.png" alt="">2007 - 2011</p>
                </li>
            </ul>
        </div>
        <div id="skills">
            <h1>Skills</h1>
            <div id="tools">
                <ul>
                    <li>Java</li>
                    <li>MySQL</li>
                    <li>Spring boot</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JIRA</li>
                </ul>
            </div>
            <div id="languages">
                <h1>Languages</h1>
                <p><b>Hungarian</b> - Native</p>
                <p><b>English</b> - Intermediate</p>
            </div>
        </div>
    </div>
    <div id="pic3">
        <img src="contactme.jpg" alt="">
    </div>
    <div id="contact-content">
        <h1>Contact</h1>
        <details><summary><b>E-mail:</b></summary><a href="mailto:gyoredavid1993@gmail.com">gyoredavid1993@gmail.com</a></details>
        <p><img src="linkedin.png" alt=""><a href="http://www.linkedin.com/in/dávid-györe-54402b144" target="_blank">LinkedIn</a></p>
        <p><img src="github.png" alt=""><a href="https://github.com/Divad001" target="_blank">GitHub</a></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>