<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Gyore</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" media="screen and (max-width: 900px)" href="styleSmallScreen.css">
</head>
<body>
<nav>
    <div id="nav-inner">
        <ul id="menu">
            <li class="active">
                <a href="#header">Home</a>
            </li>
            <li>
                <a href="#about-content">Magamról</a>
            </li>
            <li>
                <a href="#studies-content">Tanulmányok</a>
            </li>
            <li>
                <a href="#project-content">Projektek</a>
            </li>
            <li>
                <a href="#contact-content">Elérhetőségek</a>
            </li>
        </ul>
        <a href="/?lang=EN">EN</a>
    </div>
</nav>
<div id="langSelector">
    <a href="/?lang=EN">EN</a>
</div>
<div id="header">
    <div id="banner">
        <img src="black-laptop-computer-showing-stock-graph-9.jpg" alt="">
    </div>
    <div id="welcome">
        <p>Üdvözlöm!</p>
    </div>
</div>
<div id="content">
    <div id="pic1">
        <img src="gyoredavid.jpg" alt="">
    </div>
    <div id="about-content">
        <h1>Magamról</h1>
        <p>
            Györe Dávid vagyok 27 éves, és frissen végeztem a <a href="https://www.greenfoxacademy.com/"
                                                                 target="_blank">Green Fox
            Academy</a> Junior Software Developer intenzív képzésén.
        </p>
        <p>
            Mielőtt jelentkeztem a képzésre 3 és fél évig egy
            sportszereket
            forgalmazó cég győri üzletében dolgoztam először mint eladó, később pedig mint részlegvezető. Ezután
            Svédországban, Stockholmban folytattam tovább ahol fél évet dolgoztam ugyanannál a cégnél.
        </p>
        <p>
            Ezek az évek megtanítottak mind csapatban mind önállóan dolgozni, kommunikálni, és szert tettem megannyi
            készségre amiket a munkámban és
            magánéletemben is hasznosíthatok.
            <br>
            Azért kezdtem el a programozással foglalkozni mert mindig érdekelt
            az IT terület, és szerettem volna olyan karriert találni a
            kereskedelemben eltöltött évek után ami közelebb áll a
            személyiségemhez.
        </p>
        <p>
            Új dolgok tanulása, elsajátítása, bonyolult problémák
            megoldása, felelősség, döntések meghozatala, és egy jó
            csapat amik leginkább motiválnak. Ezeken felül a rugalmas
            munkavégzés, széleskörű fejlődési lehetőségek.
        </p>
    </div>
    <div id="pic2">
        <img src="books.jpg" alt="">
    </div>
    <div id="studies-content">
        <div id="studies">
            <h1>Tanulmányok</h1>
            <ul>
                <li>
                    <h2>Junior Software Developer</h2>
                    <p class="location"><img src="school.png" alt="">Green Fox Academy</p>
                    <p><img src="calendar.png" alt="">2019/12 - 2020/04</p>
                </li>
                <li>
                    <h2>CAD - CAM Informatikus</h2>
                    <p class="location"><img src="school.png" alt="">Jedlik Ányos Gépipari és Informatikus Középiskola
                    </p>
                    <p><img src="calendar.png" alt="">2011 - 2013</p>
                </li>
                <li>
                    <h2>Érettségi</h2>
                    <p class="location"><img src="school.png" alt="">Pattantyús Ábrahám Géza Ipari Szakközépiskola</p>
                    <p><img src="calendar.png" alt="">2007 - 2011</p>
                </li>
            </ul>
        </div>
        <div id="skills">
            <h1>Ismeretek</h1>
            <div id="tools">
                <ul>
                    <li>Java</li>
                    <li>MySQL</li>
                    <li>Spring boot</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JIRA</li>
                </ul>
            </div>
            <div id="languages">
                <h1>Nyelvismeret</h1>
                <p><b>Magyar</b> - Anyanyelv</p>
                <p><b>Angol</b> - Középfok</p>
            </div>
        </div>
        <div id="project-content">
          <h1>Projektek</h1>
            <div>
            <h2>Tribes</h2>
            <p>
              A képzés projekt fázisa alatt 4 fős csoportban dolgoztunk egy
              backend projekten, Scrum metodológiában. A projekt egy
              "Travian" szerű, város menedzselős játék amelyhez a backend
              Java-ban készült Spring boot segítségével, illetve MySQL-t
              használtunk mint adatbázis.
            <p>
              A backendhez készítettünk egy frontendet is melyhez Reactet
              használtunk de ez eredetileg nem volt a projekt része.
            </p>
            <p>
              Jó magam többek közt dolgoztam a securityn, implementáltam
              a JWT-hez szükséges methodokat, több endpoint, Entity,
              Service, Repository, featuret (pl.: fight), unit és integration
              teszteket készítettem, GitHub repository csatlakoztatása
              CircleCI-hoz, Docker és AWS deploy.
            </p>
            <p><img src="ship.jpg" alt=""><a href="https://space-tribes-frontend.herokuapp.com/login" target="_blank">Space-tribes</a></p>
            </div>
          <div>
            <h2>My page</h2>
            <p>Bemutatkozó oldal melyhez használtam Java,
              JavaScript, HTML és CSS technológiákat.</p>
          </div>
          <div>
            <h2>Todo</h2>
            <p>Egy Java, Spring Boot alapú Todo API, MySQL adatbázissal összekötve. Authentikáció JWT-vel, ExceptionHandling, Logolás stb. Később egy frontenddel is szeretném kiegészíteni.</p>
          </div>
        </div>
    </div>
    <div id="pic3">
        <img src="contactme.jpg" alt="">
    </div>
    <div id="contact-content">
        <h1>Elérhetőségek</h1>
        <details>
            <summary><b>E-mail:</b></summary>
            <a href="mailto:gyoredavid1993@gmail.com">gyoredavid1993@gmail.com</a></details>
        <p><img src="linkedin.png" alt=""><a href="http://www.linkedin.com/in/dávid-györe-54402b144" target="_blank">LinkedIn</a>
        </p>
        <p><img src="github.png" alt=""><a href="https://github.com/Divad001" target="_blank">GitHub</a></p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>