<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="Menu">
    <a href="/">About me</a>
    <a href="/studies">Studies</a>
    <a href="/contact">Contact</a>
</div>

<div>
    <h1>About me</h1>
</div>

<div>
    <p>My name is Dávid Györe and I am 27 years old. I recently
        graduated at Green Fox Academy as a Junior Software
        Developer. Before I joined GFA I worked in the retail sector for
        4 years. I have always been interested in IT especially coding
        and I was looking for a career that fits me better.
    </p>
    <p>
        Learning new things, solving difficult problems, taking
        responsibilities, having decisions to make and a good team
        motivates me. Also, the flexibility, the wide range of
        possibilities and the positive financial prospects are engaging.
    </p>
</div>
</body>
</html>