<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="nav-outer">
    <div id="nav-inner">
        <a href="/?lang=EN">About me</a>
        <a href="/studies?lang=EN">Studies</a>
        <a href="/contact?lang=EN">Contact</a>
        <a href="/contact">HU</a>
    </div>
</div>
<div id="image">
    <img src="gyoredavid.jpg" alt="" height="30%" width="30%">
</div>
<div id="contact-content">
    <p>Phone: +36306758771</p>
    <p>E-mail: gyoredavid1993@gmail.com</p>
    <a href="http://www.linkedin.com/in/dávid-györe-54402b144">LinkedIn</a>
    <br>
    <a href="">GitHub</a>
</div>

</body>
</html>