<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="nav-outer">
    <div id="nav-inner">
        <a href="/?lang=EN">About me</a>
        <a href="/studies?lang=EN" class="active">Studies</a>
        <a href="/contact?lang=EN">Contact</a>
        <a href="/studies">HU</a>
    </div>
</div>
</div>
<div id="studies-content">
    <div id="studies">
        <h1>Studies</h1>
        <ul>
            <li>
                <h2>Junior Software Developer</h2>
                <p class="location">Green Fox Academy</p>
                <p>12/2019 - 04/2020</p>
            </li>
            <li>
                <h2>Computer-Aided Design and Manufacturing
                </h2>
                <p class="location">Jedlik Ányos Gépipari és Informatikus Középiskola</p>
                <p>2011 - 2013</p>
            </li>
            <li>
                <h2>Graduation</h2>
                <p class="location">Pattantyús Ábrahám Géza Ipari Szakközépiskola</p>
                <p>2007 - 2011</p>
            </li>
        </ul>
    </div>
    <div id="skills">
        <h1>Skills</h1>
        <div id="tools">
            <ul>
                <li>Java</li>
                <li>MySQL</li>
                <li>Spring boot</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JIRA</li>
            </ul>
        </div>
        <div id="languages">
            <h1>Languages</h1>
            <p>Hungarian - Native</p>
            <p>English - Intermediate</p>
        </div>
    </div>
</div>
</body>
</html>