<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="Menu">
    <a href="/">Magamról</a>
    <a href="/studies">Tanulmányok</a>
    <a href="/contact">Kapcsolat</a>
    <a href="/contact?lang=EN">EN</a>
</div>
<div>
    <img src="gyoredavid.jpg" alt="" height="30%" width="30%">
</div>
<div>
    <p>Telefon: +36306758771</p>
    <p>E-mail: gyoredavid1993@gmail.com</p>
    <a href="http://www.linkedin.com/in/dávid-györe-54402b144">LinkedIn</a>
    <br>
    <a href="">GitHub</a>
</div>

</body>
</html>