<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="nav-outer">
    <div id="nav-inner">
        <a href="/" class="active">Magamról</a>
        <a href="/studies">Tanulmányok</a>
        <a href="/contact">Kapcsolat</a>
        <a href="/?lang=EN">EN</a>
    </div>
</div>
<div id="content">
    <div id="about">
        <h1>Magamról</h1>
    </div>

    <div id="about-content">
        <p>
            Györe Dávid vagyok 27 éves, és frissen végeztem a Green Fox
            Academy junior software developer intenzív képzésén. Azért
            kezdtem el a programozással foglalkozni mert mindig érdekelt
            az IT terület, és szerettem volna olyan karriert találni a
            kereskedelemben eltöltött évek után ami közelebb áll a
            személyiségemhez.

        </p>
        <p>
            Új dolgok tanulása, elsajátítása, bonyolult problémák
            megoldása, felelősség, döntések meghozatala, és egy jó
            csapat amik leginkább motiválnak. Ezeken felül a rugalmas
            munkavégzés, széleskörű fejlődési lehetőségek és az elérhető
            magas fizetés.

        </p>
    </div>
</div>
</body>
</html>