<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="Menu">
    <a href="/">Magamról</a>
    <a href="/studies">Tanulmányok</a>
    <a href="/contact">Kapcsolat</a>
    <a href="/studies?lang=EN">EN</a>
</div>
<div id="Studies">
    <h2>Tanulmányok</h2>
    <ul>
        <li>
            <h2>Junior Software Developer</h2>
            <p>Green Fox Academy</p>
            <p>2019/12 - 2020/04</p>
        </li>
        <li>
            <h2>CAD-CAM Informatikus</h2>
            <p>Jedlik Ányos Gépipari és Informatikus Középiskola</p>
            <p>2011 - 2013</p>
        </li>
        <li>
            <h2>Érettségi</h2>
            <p>Pattantyús Ábrahám Géza Ipari Szakközépiskola</p>
            <p>2007 - 2011</p>
        </li>
    </ul>
</div>
<div id="Skills">
    <h2>Ismeretek</h2>
    <ul>
        <li>Java</li>
        <li>MySQL</li>
        <li>Spring boot</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JIRA</li>
    </ul>
</div>
<div>
    <h2>Nyelvismeret</h2>
    <p>Angol - Középfok</p>
</div>
</body>
</html>